In [6]:
import pandas as pd
import requests
from io import StringIO
from bs4 import BeautifulSoup

In [9]:
final_df=pd.DataFrame()
for j in range(1,10):
    url="https://www.ambitionbox.com/list-of-companies?campaign=homepage_companies_widget&page={}".format(j)
    headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36'
    
    }
    req=requests.get(url,headers=headers).text
    soup=BeautifulSoup(req,'lxml')
    company=soup.find_all('div',class_='companyCardWrapper')
    c_name=[]
    Rating=[]
    details=[]
    for i in company:
        c_name.append(i.find('h2',class_='companyCardWrapper__companyName').text.strip())
        Rating.append(i.find('span',class_="companyCardWrapper__ActionCount").text.strip())
        details.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip())
    df=pd.DataFrame({'Company_name':c_name,'Reviews':Rating,'detail':details})
    final_df=pd.concat([final_df,df],ignore_index=True)

In [10]:
len(final_df)

20

In [11]:
final_df.sample(3)

       Company_name Reviews                                             detail
16              IBM   19.6k  IT Services & Consulting | 1 Lakh+ Employees |...
12  Teleperformance   21.7k  BPO | 50k-1 Lakh Employees | Forbes Global 200...
5        ICICI Bank   33.3k  Banking | 1 Lakh+ Employees | Public | 30 year...

In [13]:
final_df['company_type']=final_df['detail'].str.split('|').str.get(0)
final_df['empoyees']=final_df['detail'].str.split('|').str.get(1)
final_df['City']=final_df['detail'].str.split('|').str.get(4)

In [16]:
final_df.drop(columns='detail',inplace=True)
final_df.sample(2)

,Company_name,Reviews,company_type,empoyees,City
3,Wipro,38.7k,IT Services & Consulting,1 Lakh+ Employees,Bangalore/Bengaluru +274 more
4,HDFC Bank,33.6k,Banking,1 Lakh+ Employees,Mumbai +1517 more

In [ ]:
final_df.to_csv('web_scrapping.csv')